{{#hasContent}}
{{#isPagedResponse}}标准分页对象 <<overview-pagination,分页>>{{/isPagedResponse}}
|===
|参数|类型|必填|描述

{{#content}}
|{{path}}
|{{type}}
|{{optional}}
|{{description}}

{{/content}}
|==={{/hasContent}}{{#noContent}}没有响应内容.{{/noContent}}