<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.udesk.cases.repository.sys.command.OfficeCommandMapper">
	<insert id="save" parameterType="cn.udesk.cases.model.sys.Office">
		INSERT INTO sys_office(
		name,
		orders,
		create_user_id,
		create_time,
		remark
		)VALUES (
		#{name},
		#{orders},
		#{createUserId},
		NOW(),
		#{remark}
		)
	</insert>

	<update id="update">
		UPDATE sys_office
		<set>
			<if test="office.name != null">
				name = #{office.name},
			</if>
			<if test="office.orders != null">
				orders = #{office.orders},
			</if>
			update_user_id=#{office.updateUserId},
			update_time=NOW()
		</set>
		WHERE id = #{office.id}
	</update>
</mapper>
